<div class="jumbotron">
    <div class="container text-center">
        <h1> Art Attack </h1>
        <p>Una forma de encontrar y compartir arte</p>
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="/img/angel.jpg" style="width:100%">
        <img src="img/hombre.jpg" style="width:100%">
        <img src="img/ciudad.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="img/autor.jpg" style="width:100%">
        <img src="img/mujer.jpeg" style="width:100%">
        <img src="img/gato.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="img/muelle.jpg" style="width:100%">
        <img src="img/monalisa.jpg" style="width:100%">
        <img src="img/casa.jpg" style="width:100%">

    </div>
    <div class="column">
        <img src="img/colores.jpg" style="width:100%">
        <img src="img/estilo.jpg" style="width:100%">
        <img src="img/grito.jpg" style="width:100%">
    </div>
</div>